@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

:root {
  --main-color: #00d27e;
}

.active {
  background-color: var(--main-color);
  color: #fff;
}
.shadow {
  box-shadow: 0px 1px 5px 2px #0000000b;
}
